<figure class="table ck-widget ck-widget_with-selection-handle ck-widget_selected" contenteditable="false">
    <div class="ck ck-widget__selection-handle">
        <svg class="ck ck-icon ck-reset_all-excluded ck-icon_inherit-color" viewBox="0 0 16 16">
            <path d="M4 0v1H1v3H0V.5A.5.5 0 0 1 .5 0H4zm8 0h3.5a.5.5 0 0 1 .5.5V4h-1V1h-3V0zM4 16H.5a.5.5 0 0 1-.5-.5V12h1v3h3v1zm8 0v-1h3v-3h1v3.5a.5.5 0 0 1-.5.5H12z">
            </path>
            <path fill-opacity=".256" d="M1 1h14v14H1z"></path>
            <g class="ck-icon__selected-indicator"><path d="M7 0h2v1H7V0zM0 7h1v2H0V7zm15 0h1v2h-1V7zm-8 8h2v1H7v-1z"></path><path fill-opacity=".254" d="M1 1h14v14H1z"></path></g>
        </svg>
    </div>
    <table>
        <tbody>
            <tr>
                <td class="ck-editor__editable ck-editor__nested-editable" role="textbox" contenteditable="true">
                    <span class="ck-table-bogus-paragraph"><br data-cke-filler="true"></span>
                </td>
                <td class="ck-editor__editable ck-editor__nested-editable" role="textbox" contenteditable="true">
                    <span class="ck-table-bogus-paragraph"><strong>ROM</strong></span>
                </td>
                <td class="ck-editor__editable ck-editor__nested-editable" role="textbox" contenteditable="true"><span class="ck-table-bogus-paragraph"><strong>Normal</strong></span></td>
                <td class="ck-editor__editable ck-editor__nested-editable" role="textbox" contenteditable="true"><span class="ck-table-bogus-paragraph"><br data-cke-filler="true"></span></td>
                <td class="ck-editor__editable ck-editor__nested-editable" role="textbox" contenteditable="true"><span class="ck-table-bogus-paragraph"><strong>ROM</strong></span></td>
                <td class="ck-editor__editable ck-editor__nested-editable" role="textbox" contenteditable="true"><span class="ck-table-bogus-paragraph"><strong>Normal</strong></span></td>
            </tr>
            <tr>
                <td class="ck-editor__editable ck-editor__nested-editable" role="textbox" contenteditable="true"><span class="ck-table-bogus-paragraph">Flexion</span></td>
                <td class="ck-editor__editable ck-editor__nested-editable" role="textbox" contenteditable="true"><span class="ck-table-bogus-paragraph">#FlexionROM</span></td>
                <td class="ck-editor__editable ck-editor__nested-editable" role="textbox" contenteditable="true"><span class="ck-table-bogus-paragraph">60</span></td>
                <td class="ck-editor__editable ck-editor__nested-editable" role="textbox" contenteditable="true"><span class="ck-table-bogus-paragraph">Ulnar deviation</span></td>
                <td class="ck-editor__editable ck-editor__nested-editable" role="textbox" contenteditable="true"><span class="ck-table-bogus-paragraph">#UlnarDeviationROM</span></td>
                <td class="ck-editor__editable ck-editor__nested-editable" role="textbox" contenteditable="true"><span class="ck-table-bogus-paragraph">30</span></td>
            </tr>
            <tr>
                <td class="ck-editor__editable ck-editor__nested-editable" role="textbox" contenteditable="true"><span class="ck-table-bogus-paragraph">Extension</span></td>
                <td class="ck-editor__editable ck-editor__nested-editable" role="textbox" contenteditable="true"><span class="ck-table-bogus-paragraph">#ExtensionROM</span></td>
                <td class="ck-editor__editable ck-editor__nested-editable" role="textbox" contenteditable="true"><span class="ck-table-bogus-paragraph">60</span></td>
                <td class="ck-editor__editable ck-editor__nested-editable" role="textbox" contenteditable="true"><span class="ck-table-bogus-paragraph">Radial deviation</span></td>
                <td class="ck-editor__editable ck-editor__nested-editable" role="textbox" contenteditable="true"><span class="ck-table-bogus-paragraph">#RadialDeviationROM</span></td>
                <td class="ck-editor__editable ck-editor__nested-editable" role="textbox" contenteditable="true"><span class="ck-table-bogus-paragraph">20</span></td>
            </tr>
        </tbody>
    </table>
    <div class="ck ck-reset_all ck-widget__type-around">
        <div class="ck ck-widget__type-around__button ck-widget__type-around__button_before" title="Insert paragraph before block" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 8"><path d="M9.055.263v3.972h-6.77M1 4.216l2-2.038m-2 2 2 2.038"></path></svg>
        </div>
        <div class="ck ck-widget__type-around__button ck-widget__type-around__button_after" title="Insert paragraph after block" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 8"><path d="M9.055.263v3.972h-6.77M1 4.216l2-2.038m-2 2 2 2.038"></path></svg>
        </div><div class="ck ck-widget__type-around__fake-caret">
        </div>
    </div>
</figure>