<div id="aiContainer"></div>

<script>
    var locId= '@ViewBag.LocId';
    var id= '@ViewBag.Id';
    function loadAIView(locId, id) {
        $.get('@Url.Action("AIInitialIntake", "IntakeForm")', { locId: locId, id: id }, function (data) {
            $('#aiContainer').html(data);
        });
    }
    // Example call
    loadAIView(locId, id);
</script>